<!-- DETAILS FOR AN INDIVIDUAL PLAYER BY ID SEARCH -->
<h2><%= player.first_name %> <%= player.last_name %></h2>

<ul>
    <li>
        <p>Position: <%= player.position %></p>
    </li>

<% if (player.height_feet != null && player.height_inches != null) { %>
    <li>
        <p>Height: <%= player.height_feet %>'<%= player.height_inches %>''</p>
    </li>
<% } %>

    <li>
        <p>Team: <a href='/teams/<%= player.team.id %>'><%= player.team.full_name %></a></p>
    </li>
    
    <li>
        <p>Conference: <%= player.team.conference %></p>
    </li>

    <li>
        <p>Division: <%= player.team.division %></p>
    </li>

</ul>


<% if (comments) { %>
    <h4>Comments:</h4>
    <% console.log('%%%%%%COMMENT%%%%%', comments) %>
    <ul>
        <% comments.forEach(comment => { %>
            <li><%= comment.description %></li>
            <a href="/players/<%= player.id %>/<%= comment.id %>/edit"><button>Edit</button></a>
            <!-- NEED TO TEST THE DELETE FORM FOR COMMENTS -->
            <form action="/comments/<%= comment.id %>/?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>    
        <% }) %>
    </ul>

<% } %>


<form action="/comments" method="POST">
    <!-- <label for="comment">Add Comment:</label> -->
    <input type="text" id="comment" name="description" required>
    <!-- <input hidden value="<%=// res.locals.user %>" name="userId"> -->
    <!-- playerId needs to the the player PK not the api player id -->
    <input hidden value="<%= player.id %>" name="playerId">
    <input type="submit" value="Add Comment"> 
</form>
</br>

<!-- need to figure out conditional to not show button if player already fav'd -->
<%// if () { %>
    <form action="/players" method="POST">
        <input hidden value="<%= player.first_name %>" name="first_name">
        <input hidden value="<%= player.last_name %>" name="last_name">
        <input hidden value="<%= player.id %>" name="player_id">
        <input hidden value="<%= player.team.id %>" name="teamId">
    
        <input type="submit" value="Add to Favorites">
    </form>
<%// } %>

<!-- </br>
<a href="/players">Back</a> -->




