<!-- <div class="containerImage" style="background-image: url('https://wallpaperaccess.com/full/1305370.jpg')"></div> -->


<!-- DETAILS FOR AN INDIVIDUAL PLAYER BY ID SEARCH -->
<h1><%= player.first_name %> <%= player.last_name %></h1>

<ul>
<% if(player.position != "") { %>
    <li>
        <h3>Position: <%= player.position %></h3>
    </li>
<% } %>    

<% if (player.height_feet != null && player.height_inches != null) { %>
    <li>
        <h3>Height: <%= player.height_feet %>'<%= player.height_inches %>''</h3>
    </li>
<% } %>

    <li>
        <h3>Team: <a style="color: black" href='/teams/<%= player.team.id %>'><%= player.team.full_name %></a></h3>
    </li>
    
    <li>
        <h3>Conference: <%= player.team.conference %></h3>
    </li>

    <li>
        <h3>Division: <%= player.team.division %></h3>
    </li>

</ul>

<form action="/players" method="POST">
    <input hidden value="<%= player.first_name %>" name="first_name">
    <input hidden value="<%= player.last_name %>" name="last_name">
    <input hidden value="<%= player.id %>" name="player_id">
    <input hidden value="<%= player.team.id %>" name="teamId">

    <input type="submit" class="btn btn-dark" value="Add to Favorites">
</form>
</br>
<form action="/comments" method="POST">
    <input type="text" id="comment" name="description" required>
    <input hidden value="<%= player.id %>" name="playerId">
    <input type="submit" class="btn btn-success" value="Add Comment"> 
</form>

<% if (comments) { %>
    <h4>Comments:</h4>
    <%// console.log('%%%%%%COMMENT%%%%%', comments) %>
    <ul>
        <% comments.forEach(comment => { %>
            <li><h4><%= comment.description %></h4></li>
            <a href="/players/<%= player.id %>/<%= comment.id %>/edit" role="button" class="btn btn-warning">Edit</a>

            <form action="/comments/<%= comment.id %>/?_method=DELETE" method="POST">
                <input hidden name="player_id" value="<%= player.id %>">
                <input type="button" class="btn btn-danger" value="Delete">
            </form>    
        </br>
        <% }) %>
    </ul>

<% } %>


</br>

<!-- need to figure out conditional to not show button if player already fav'd -->
<%// if (// fav != null) { %>
<%// } %>

<!-- </br>
<a href="/players">Back</a> -->




