<!-- DETAILS FOR AN INDIVIDUAL PLAYER BY ID SEARCH -->
<h2><%= player.first_name %> <%= player.last_name %></h2>

<ul>
    <li>
        <p>Position: <%= player.position %></p>
    </li>

<% if (player.height_feet != null && player.height_inches != null) { %>
    <li>
        <p>Height: <%= player.height_feet %>'<%= player.height_inches %>''</p>
    </li>
<% } %>

    <li>
        <p>Team: <%= player.team.full_name %></p>
    </li>
    
    <li>
        <p>Conference: <%= player.team.conference %></p>
    </li>

    <li>
        <p>Division: <%= player.team.division %></p>
    </li>
</ul>

<!-- button not functional -- will allow user to add player to profile as a favorite. They will then be able to comment on the player from their favorites section -->


<form action="/players" method="POST">
    <input hidden value="<%= player.first_name %>" name="first_name">
    <input hidden value="<%= player.last_name %>" name="last_name">

    <input type="submit" value="Add to Profile">
</form>

</br>
<a href="/players">Back</a>




