<h1 class="text-center"><%= team.name %></h1>
</br>


<h3 class="text-center">City: <%= team.city %></h3>

<h3 class="text-center">Conference: <%= team.conference %></h3>

<h3 class="text-center">Division: <%= team.division %></h3>

<h3 class="text-center">Full Name: <%= team.full_name %></h3>

<h3 class="text-center">Abbreviation: <%= team.abbreviation %></h3>
