<h2><%= team.name %></h2>

<ul>
    <li>
        <p>City: <%= team.city %></p>
    </li>
    <li>
        <p>Conference: <%= team.conference %></p>
    </li>
    <li>
        <p>Division: <%= team.division %></p>
    </li>
    <li>
        <p>Full Name: <%= team.full_name %></p>
    </li>
    <li>
        <p>Abbreviation: <%= team.abbreviation %></p>
    </li>
</ul>