<h2 class="text-center"><%= team.name %></h2>
</br>
<!-- <ul>
    <li>
        <p>City: <%=// team.city %></p>
    </li>
    <li>
        <p>Conference: <%=// team.conference %></p>
    </li>
    <li>
        <p>Division: <%=// team.division %></p>
    </li>
    <li>
        <p>Full Name: <%=// team.full_name %></p>
    </li>
    <li>
        <p>Abbreviation: <%=// team.abbreviation %></p>
    </li>
</ul> -->


        <p class="text-center">City: <%= team.city %></p>

        <p class="text-center">Conference: <%= team.conference %></p>

        <p class="text-center">Division: <%= team.division %></p>

        <p class="text-center">Full Name: <%= team.full_name %></p>

        <p class="text-center">Abbreviation: <%= team.abbreviation %></p>
