<h2 class="text-center"><%= team.name %></h2>
</br>


<h4 class="text-center">City: <%= team.city %></h4>

<h4 class="text-center">Conference: <%= team.conference %></h4>

<h4 class="text-center">Division: <%= team.division %></h4>

<h4 class="text-center">Full Name: <%= team.full_name %></h4>

<h4 class="text-center">Abbreviation: <%= team.abbreviation %></h4>
