<h2 class="text-center"><%= team.name %></h2>
</br>


<p class="text-center">City: <%= team.city %></p>

<p class="text-center">Conference: <%= team.conference %></p>

<p class="text-center">Division: <%= team.division %></p>

<p class="text-center">Full Name: <%= team.full_name %></p>

<p class="text-center">Abbreviation: <%= team.abbreviation %></p>
