<h2>Favorited Players</h2>

<%= console.log('FAVORITES.EJS CONSOLE LOG!!!!!', players) %>
<% players.forEach(player => { %>
    <div>
        <% player.players.forEach(playa => { %>
            <a href='/players/<%= playa.player_id %>'><h3><%= playa.first_name %> <%= playa.last_name %></h3></a>
           <% console.log(playa.id) %>
       <% }) %>
        </br>

         <!-- <p><%=// comment %></p> -->

        
    </div>
<% }) %>